<!DOCTYPE html>
<html lang="pl">
<head>
  <title>${title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="../static/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <body>
    <div class="wraper">
      
      <div class="card header nav">
        <!-- <img src="../static/img/logo.svg"/> -->
        <div id="nav-content">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="/ankieta">Znajdź swój kierunek (ankieta)</a>
            </li>
            <li class="list-inline-item active">
              <a href="/miasta">Miasta studenckie</a>
            </li>
            <li class="list-inline-item">
              <a href="/kierunki">Kierunki studiów</a>
            </li>
          </ul>
        </div>
      </div>
      
      <div id="banner">
      <div class="carousel slide" data-ride="carousel">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/img/baner1.png" alt="First slide">
        </div>
      </div>
    </div>
      
      <div class="main-content">
        <h2>Poznań</h2>
        <ul>
          <li>UAM</li>
        </ul>
        <h2>Warszawa</h2>
        <ul>
          <li>UAM</li>
        </ul>
      </div>
      
    </div>
  </body>
</html>